.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*New Site CSS*/
:root {
  --myyellow: #e6df0b;
  --mybrown: #AA8A1D;
  --darkPurple: #8A1DAA;
  --mygreen: #1DAA8A;
}
a {
  color: black;
  text-decoration: none;
}

#navFirst {
  color: white;
  font-weight: 700;
}
#navSecond {
  color: white;
  font-weight: 700;
}
.navbar-dark {
  background-color: var(--mybrown) !important;
}
.backgroundContainer {
  background-color: var(--mybrown) !important;
}
.subHeader {
  color: #6F6F6F;
}
.heroBtn {
  background-color: var(--mygreen);
  border-radius: 25px;
  width: 152px;
  height: 45px;
}
.heroBtn a {
  color: var(--myteal);
  list-style: none;
}
.newsHeadline {
  font-size: 3rem;
}
article span a {
  font-size: 24px;
  line-height: 24px;
}
.articleText {
  margin: 2em;
}
.airline {
  font-size: large;
  font-weight: bold;
}
.nav-item a {
  display: inline-block;
}
.articleTitle {
  font-size: 3rem;
  font-weight: 700;
  line-height: 2rem;
}
article button {
  font-weight: 700;
  color: white;
  background-color: var(--mygreen);
  border: none;
  border-radius: 25px;
  padding: 1rem;
}
.newsPicture {
  border-radius: 25px;
}
li {
  list-style: none;
}
.mAirline {
  text-align: center;
}
.metric p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.metric {
  border: 5px solid var(--mygreen);
  border-radius: 25px;
  margin-top: 10px;
  padding: 5px;
}
.metric h6 {
  text-align: center;
}
.asAirline span {
  margin: 5px;
}
.asSection a {
  color: black;
}
.bull {
  border-radius: 25px;
}
.sectionTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.newsBorder {
  border: 5px solid var(--mybrown);
  padding: 1rem;
  border-radius: 25px;
}
#hero {
  margin: 3rem 0;
}